/*
How is specificity calculated?

https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity

*/

/* Type selectors are the least specific
ul {
    color: purple;
}

li a {}

li + a {}
*/

/* CLass, Attribute and Pseudo-Slass selectors
.hello{}

input[type="text"]

a:hover{}
input:checked
*/

/*ID Selectors
#myClass{}
*/

body {
    color: red;
}

p {
  color: green;
}

ul {
    color: blue;
}
li {
    color: orange;
}

.highlight {
    color: yellow;
}

#special {
    color: darkgreen;
}
